<body>
  <div style="text-align: center">
    <h1>Tina Schickle - Solution to "CGM - Coding Challenge"</h1>
  </div>
  <h2>***Please type in 5 different numbers and hit the submit button***</h2>

  <!-- <h3 id="rot">The lowest number will be displayed in red</h3> -->
  <h3 id="rot">{{ dred }}</h3>
  <h3 id="grün">{{ dgreen }}</h3>

  <div>
    <p class="message">{{ msg }}</p>
  </div>
  <form class="box">
    <input id="number1" type="number" name="num1" [(ngModel)]="num1" />
    <input id="number2" type="number" name="num2" [(ngModel)]="num2" />
    <input id="number3" type="number" name="num3" [(ngModel)]="num3" />
    <input id="number4" type="number" name="num4" [(ngModel)]="num4" />
    <input id="number5" type="number" name="num5" [(ngModel)]="num5" />
    <br />

    <button (click)="clickEvent(e)">Submit</button>
  </form>
  <br />
</body>
